#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 4em;
  position: fixed;
  top: 5px;
  left: 25px;
  padding: 10px;
}

h4 {
  font-size: 2em;
  font-style: italic;
  position: fixed;
  top: 75px;
  right: 25px;
  padding: 10px;
}

label {
  font-size: 1.5em;
}

input {
  font-size: 1.5em;
  padding: 4px;
  margin: 25px;
}

li {
  list-style: none;
  font-size: 1.5em;
}

ul li {
  float: left;
  width: 25%;
}

#page-wrap {
  max-width:850px;
  height:100%;
  margin: 0 auto;
}

header {
    margin: 80px 0 0 0;
    float:right;
}

#main-content {
   margin: 80px 0 0 0;
   display: inline-block;
}

.clear {
  clear: both;
}

footer {
  font-size: 1em;
  font-style: italic;
  text-align: center;
  position: fixed;
  bottom: 10px;
  padding: 5px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.wordFilter {
  float: none;
  overflow: visible;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
